.preloader {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #404;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.lines {
     width: 200px;
     height: 200px;
     position: relative;
 }

.l8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.l8 .line {
    height: 50px;
    width: 5px;
    background-color: rgb(255, 0, 76);
    animation: growLine 1s ease infinite;
}

.l8 .line:nth-child(1),
.l8 .line:nth-child(10) {
    animation-delay: 0.8s;
}

.l8 .line:nth-child(2),
.l8 .line:nth-child(9) {
    animation-delay: 0.6s;
}

.l8 .line:nth-child(3),
.l8 .line:nth-child(8) {
    animation-delay: 0.4s;
}

.l8 .line:nth-child(4),
.l8 .line:nth-child(7) {
    animation-delay: 0.2s;
}

.l8 .line:nth-child(6),
.l8 .line:nth-child(5) {
    animation-delay: 0s;
}

@keyframes growLine {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }
}

.hiding .preloader {
    transition: 0.75s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}